@model IEnumerable<RepositorySearch.Models.RepositoryModel>

@foreach (var repo in Model)
{
    <div class="card">
        <img src="@repo.Owner.AvatarUrlPath" alt="Avatar" />
        <div class="repo-info">
            <h4><b>@repo.RepositoryName</b></h4>
            <input type="checkbox" value="Bookmark" />
        </div>
    </div>
}


